<!DOCTYPE html>
<html>
	<head>

		<title>Articles</title>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/application.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>
<body>

	<header id="main-nav" class="clearfix">
		<a href="/welcome/index" class="name"> Shakti Shah </a>
		<nav>
			<a href="/articles/articles"> Articles </a>
			<a href="/welcome/index"> Home </a>
		</nav>
	</header>