<!DOCTYPE html>
<html>
	<head>
		<title>Shakti Shah Portfolio</title>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/application.css">
		
	</head>
<body>

	<header id="main-nav" class="clearfix">
		<%= link_to "Shakti Shah", root_path, class: "name" %>
		<nav>
			<a href="/articles/articles"> Articles </a>
			<a href="#"> Resume </a>
			<a href="/contacts/new"> Contact </a>
		</nav>
	</header>

	<div class="wrapper clearfix">
		<div class="col-1 homepage_content">
			<h2>About</h2>
			<hr>
			<p> I'm a technical solutions analyst at Cerner, looking to get into Web Development.</p>
			<p>I'm from Dallas, TX but currently reside in Overland Park, KS.</p>	
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've Written</h2>
			<hr>
			<h3>The To Do List</h3>
			<p class="date">Thursday August 1st</p>
		</div>
	</div>

	<footer id="main_footer">
		<p class="copyright">&copy; Shakti Shah</p>
		<nav>
			<i href="#" class="fa fa-twitter"></i>
			<i href="#" class="fa fa-instagram"></i>
			<i href="#" class="fa fa-github"></i>
		</nav>
	</footer>
</body>