<header id="main-nav" class="clearfix">
		<%= link_to "Shakti Shah", root_path, class: "name" %>
</header>

<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
	<p>Thank you for your message!</p>
	<p>I'll get back to you soon.</p>
</div>